led / optimized / DLL files
__pycache__/
*.py[cod]
**/.DS_Store
local/
datasets/testdata/*
!datasets/testdata/.keep
models/test_data/gap_classifier.h5
models/test_data/pointer_network/
models/test_data/sentence_classifier
models/test_data/distractor_encoder/
models/test_data/word_model